
#menu{
	width:100%;
	margin-top:0px;
	border-color:white;
   line-height:16px;


}

#legendStyle{
	background-color:#2F8F9D; 
	width:800px;height:20px; 
	color:white; 
	border-radius: 10px;
	padding-left:10px;
	padding-top:5px;
	font-family:'Source Sans Pro', sans-serif;
}

#wrap{
	width:800px;
	height:450px;
	margin:0 auto;
	text-align:left;
	margin-top:8px;
	padding:5px;
	background:#F7ECDE;
    font-family: 'Source Sans Pro', sans-serif;;
	font-size:16px;    
    line-height:16px;
}

#wrap .cont_details fieldset,.cont_order fieldset{
	margin-top:70px;
	padding:20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	background:#F7ECDE;

}
#wrap legend{
	font-size:24px;
	font-family: 'Source Sans Pro', sans-serif;;
	color:#000;
	font-weight:400;
    padding-bottom:10px;
}
#wrap .cont_details input, label{
	margin-bottom:10px;
	color:#000;
	
}

#wrap .cont_details input{
	border: solid 2px ;
	margin-left: 5px;
	height: 24px;
	font-size: 16px;
	background-color: white;
}
/* #wrap .input1:hover,.input1:active{
	
} */
#wrap label{
	display:block;
	font-size:20px;
	color:#000;
}
#wrap label.inlinelabel
{
    display:inline;
}
#wrap .cont_order input{
	margin-bottom:5px;
}
#wrap .cont_order p{
	padding-top:5px;
}

#wrap input[type="radio"]
{
margin-top:8px;
margin-bottom:8px;
}

#wrap input[type=""]:hover,
#wrap input[type=""]:active {
background-color: #FAF398;
}

#wrap input#submit
{
margin:10px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}

#wrap div#totalPrice1
{
    padding:10px;
    font-weight:bold;
    background-color:#ff0;
}

#wrap label.radiolabel
{
font-weight:normal;
 display:inline;
}
